/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body,
html,
app-root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}


.ant-modal-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  z-index: 999999;
}
