<div class="titleBar">
  <div class="em-spots">    <span class="decorate" style="background: rgb(115,54,32); width: 52px; height: 52px; margin-top: -26px; margin-left: -26px; top: 45.5151%; left: 15%;"></span>
    <span class="decorate" style="background: rgb(23, 90, 171); width: 32px; height: 32px; margin-top: -16px; margin-left: -16px; top: 35.0456%; left: 5%;"></span>
    <span class="decorate" style="background: rgb(233, 34, 36); width: 41px; height: 41px; margin-top: -20.5px; margin-left: -20.5px; top: 18.0964%; left: 25%;"></span>
    <span class="decorate" style="background: rgb(255, 86, 0); width: 30px; height: 30px; margin-top: -15px; margin-left: -15px; top: 20.0778%; left: 35%;"></span>
    <span class="decorate" style="width: 27px; height: 27px; margin-top: -13.5px; margin-left: -13.5px; top: 21.2993%; left: 45%;"></span>
    <span class="decorate" style="background: rgb(0, 62, 135); width: 39px; height: 39px; margin-top: -19.5px; margin-left: -19.5px; top: 75.299%; left: 55%;"></span>
    <span class="decorate" style="background: rgb(233, 34, 36); width: 26px; height: 26px; margin-top: -13px; margin-left: -13px; top: 74.7716%; left: 65%;"></span>
    <span class="decorate" style="width: 52px; height: 52px; margin-top: -26px; margin-left: -26px; top: 68.5545%; left: 75%;"></span>
    <span class="decorate" style="width: 44px; height: 44px; margin-top: -22px; margin-left: -22px; top: 64.6238%; left: 85%;"></span>
    <span class="decorate" style="width: 55px; height: 55px; margin-top: -27.5px; margin-left: -27.5px; top: 28.5103%; left: 95%;"></span>
  </div>
  <div class="title_icon">

    <i class="{{titleInfo.icon}}"></i>
  </div>
  <div class="right_div">
    <div class="title_name">{{titleInfo.title}}</div>
    <div class="title_tip">{{titleInfo.tip}}</div>
  </div>


</div>


