.svn
.vscode
pkg
.idea
compiled
my.db.lock
node_modules
.awcache
*.exe
*.db
*.log
panic
/server/src/OutsourcingPlatform/app/debug
/server/bin/debug
/server/bin/project_item_src
*.code-workspace
*.png
