.svn
.vscode
pkg
.idea
my.db
my.db.lock
compiled
node_modules
.awcache
*.exe
*.db
*.log
panic
/server/src/OutsourcingPlatform/app/debug
/server/bin/debug
/server/bin/project_item_src
*.code-workspace
*.png
