:host {
  background: #F5F5F5;
  overflow: hidden;
  padding: 24px;
  display: block;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar {
  border-color: #fff;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.login_input_username{
  display:block;
  margin:auto;
  margin-top:10px;
  width:250px;
  line-height: 30px;
  border:1px solid rgba(255, 255, 255, 0);
  border-radius:4px;
  box-shadow:  0px 0px 1px rgba(0, 0, 0, 0.883);
}

.login_input_username:focus{
outline:none;
border-color:#1d1ae467;
box-shadow: 0 0px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.login_input_pw{
  display:inline-block;
  margin:auto;
  margin-top:15px;
  width:250px;
  line-height: 30px;
  border:1px solid rgba(255, 255, 255, 0);
  border-radius:4px;
  box-shadow:  0px 0px 1px rgba(0, 0, 0, 0.883);
}

.login_input_pw:focus{
outline:none;
border-color:#1d1ae467;
box-shadow:  0 0px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}


.login-group-input{
  margin:auto;
  display:block;
  width:250px;
}

.login_group_other{
   display:inline-flex;
   flex-wrap: nowrap; 
   flex-direction: row; 
    justify-content: space-between;
    padding:0px 25px;
   width:300px;
}
.login_main_body{
  padding-top:15%;
  margin:auto;
  display:block;
  width:300px;
}
.login_body_title{
  width:300px;
  margin:auto;
  display:inline-block;
  text-align: center;
  font-size:1.3rem;
  color:#fff;
}

.login_button{
   width: 250px;
   margin:auto;
   text-align: center;
   margin-top:15px;
   border:solid 0.6px rgba(64, 158, 255, 1);
   border-radius: 3px;
   background-color: rgba(64, 158, 255, 1);
   color:#fff;
   padding:5px 0px;
   cursor: pointer;
}

.login_body{
  background-image:url("//api.i-meto.com/bing");
  height:100%;
  background-position: center;
  background-size: cover;
}

.login_wechat_icon{
  vertical-align: middle;
  padding-top:1px;
  color:#15e264;
  text-align: center;
}

.login_other_forget{
  color:rgb(214, 214, 214);
}

.login_body_shade{
  background-color:rgba(0, 0, 0, 0.336);
  height:100%;
}

.login_tip{
  float:right;
  width:200px;
  margin-top:38px;
  margin-right:15px;
}