<!-- <div id="show-project-status" nz-row  >
  <div id="status-text" *ngFor="let item of statusOptions" nz-col nzSpan=6 >
    {{item}}
  </div>
</div> -->

<!-- <div id="my-publish-content">
  <div  id="select-status" >
    <nz-tabset>
        <nz-tab class="tab-item" nzTitle="全部{{numberOfEachStatus?.total}}" (nzClick)="changestatus(0)">
        </nz-tab>
        <nz-tab  class="tab-item" nzTitle="等待承接{{numberOfEachStatus?.status_one}}"(nzClick)="changestatus(1)">
        </nz-tab>
        <nz-tab  class="tab-item" nzTitle="等待签订合同{{numberOfEachStatus?.status_two}}"(nzClick)="changestatus(2)">
        </nz-tab>
        <nz-tab class="tab-item" nzTitle="签订合同{{numberOfEachStatus?.status_three}}"(nzClick)="changestatus(3)">
        </nz-tab>       
        <nz-tab class="tab-item" nzTitle="项目结束{{numberOfEachStatus?.status_four}}"(nzClick)="changestatus(4)">
        </nz-tab>  
    </nz-tabset>

  </div>
</div> -->
<div class="myparticipation">
      未完成。。。
</div>