<!--
<app-bottomfixframe>
    <div class="frame-main">
        <div>
            <label for="json">请填写菜单配置json</label>
            <span (click)="filljson()" style="color:#499393">重置为默认json</span>
            <textarea [(ngModel)]="menujson" name="json" id="" cols="30" rows="30" style="width:100%;"></textarea>
        </div>
    </div>
    <div class="frame-bottom" style="width:inherit">
        <app-btn fullwidth=1 name="确定" (OnClickBuyBtn)="submit()">
        </app-btn>
    </div>
</app-bottomfixframe>-->
