<nz-layout>
  <nz-sider style="overflow: auto; height: 100vh; position: fixed; left: 0">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'">
      <li routerLink="/super/buildCode" nz-menu-item><span><i class="anticon anticon-user"></i><span class="nav-text">
        新建后端接口
      </span></span></li>
      <li routerLink="/super/3" nz-menu-item><span><i class="anticon anticon-video-camera"></i><span class="nav-text">
        配置公众号菜单名称
        </span></span>
      </li>
      <li routerLink="/super/JsonToGoStruct" nz-menu-item><span><i class="anticon anticon-video-camera"></i><span class="nav-text">
        Json To Go Struct
        </span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="margin-left: 200px;height: 100vh;">
    <nz-content style="margin:24px 16px 0;overflow: initial;min-height: 100%;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
